* {
    background-color: #a9a9a9;
    outline: 1px solid blue;
}

.container{
    max-width: 100%;
}

.box{
	background-color: red;
    width: 100%;
}

.box-child{
	float: left;
    width: calc(100% / 3);
}

