@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	 /*outline: 1px solid blue;
	 box-sizing: border-box;*/
}

img{
	max-width: 100%;
}

header, .info, .featured-products{
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: #2f7de1;
	color: #fff;	
}

nav{
	position: relative;
	top: 20px;
}

nav > h2 {
	width: 30%;
	text-align: center;
	font-weight: 100;
	font-size: 40px;
}

nav > ul {
	width: 70%;
}

ul:last-child{
	margin-right: 10px;
}

ul > li.item-menu{
	display: inline;
	padding: 10px;
	box-sizing: border-box;
	text-transform: uppercase;
}

.container-flex{
	display: flex;
	align-items: center;
}

.item-1{
	width: 60%;
}

.item-1 > p{
	text-align: center;
	font-size: 40px;
}

.form-header{
	justify-content: center;
}

.form-header button{
	width: 40%;
	height: 40px;
	margin-top: 20px;
	color: #fff;
}

.form-header button:first-child{
	margin-right: 10px;
	background-color: #ff931e;
	border:0;
}

.form-header button:last-child{
	background-color: #2f7de1;
	border: 1px solid #fff;
}

.form-header button{
	border-radius: 5px;
}

.item-2{
	width: 40%;
}

/* info */

.info{
	background-color: #f1f1f1;
	background-size: cover;

	align-items: flex-start;
}

.info-text{
	width: 50%;	
	max-height: 600px;
	position: relative;
	top: 30px;
}

.info-text > h1{
	color: #1b516f;
	font-size: 3em;

	padding-left: 50px;
}

.info-text > p{
	color: #f6a02c;
	padding-left: 50px;
}

.info-text ul{
	display: block; 
	list-style-type: disc; 
	text-transform: none; 
	padding: 25px 0 0 90px;
}

.info-text ul > li{
	color: #747474;
	padding: 10px;
}

info-image{
	width: 50%; 
	max-height: 600px;
}

/* featured-products */

.featured-products-title > h2 {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.featured-products-title{
	text-align: center;
	color: #1b516f;
	margin-top: 50px;
}

.products-1, .products-2{
	flex-basis: 50%;
}

section > figure{
	max-height: 150px;
}

section > figure > img{
	display: block;
	margin:0 auto;
}