* {
    background-color: #a9a9a9;
    outline: 1px solid blue;
}

.responsive{
	max-width: 100%;
}

.container{
    width: 100%;
}

.box{
	background-color: red;
    width: 100%;
    display: flex;
}

.box-child{
    width: calc(100% / 3);
}

.parent{
	border:5px solid lightcoral;
}

.children{
	margin:5px;
	background-color: DeepSkyBlue;
	color: white;
	text-align: center;
	font-weight: 600;
	line-height: 50px;	
}