* {
    background-color: #a9a9a9;
    outline: 1px solid blue;
}

.responsive{
	max-width: 100%;
}

.container{
    width: 100%;
}

.box{
	background-color: red;
    width: 100%;
    display: flex;
}

.box-child{
    width: calc(100% / 3);
}