*{
	margin:0;
}

nav > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;

	list-style: none;

	background-color: deepSkyBlue;
}

.item-menu {
	padding: 1em;
	transition: all 0.7s ease;
}

.item-menu:hover {
	background-color: #ccf2ff ;
	cursor: pointer;
}