*{
	margin:0;
}

nav > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;

	list-style: none;

	background-color: deepSkyBlue;
}

.item-menu {
	padding: 1em;
	transition: all 0.7s ease;
}

.item-menu:hover {
	background-color: #ccf2ff ;
	cursor: pointer;
	transform: scale(1.5);
}

main{
	display: flex;
}

article{
	order: 2;
}

footer{
	background: lightgreen;
}

.aside-1{
	background: gold;
	order: 1;
}

.aside-2 {
  background: hotpink;
  order: 3;
}

.parent{
	display: flex;
}